// sidebar
$menuText:#fff;
$menuActiveText:#6386E9;
$subMenuActiveText:#6386E9;

$menuBg:#6386E9;
$menuHover:#fff;
$menuHoverText:#6386E9;

$subMenuBg:#4D70E1;
$subMenuHover:#fff;
$subMenuActiveBg:#fff;
$sideBarWidth: 180px;


:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  subMenuActiveBg: $subMenuActiveBg;
  sideBarWidth: $sideBarWidth;
}
